@model List<User>

@{
    ViewBag.Title = "Users - The Look Lab";
    Layout = "_AdminLayout";
}

<div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Email</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
