

@{
    ViewBag.Title = TempData["Title"];
    Layout = "_SimpleLayout";
}

<div data-aos="fade-up"
     data-aos-duration="1500" style="margin-top:50px; margin-bottom:50px; text-align:center">
    <h5>@TempData["Message"]</h5>
</div>