@{
    ViewBag.Title = "Contact - The Look Lab";
}
<!-- contact content -->
<div class="container" id="contact" data-aos="fade-up"
     data-aos-duration="1500">
    <h1 class="text-center">
        CONTACT US
    </h1>
    <div class="row">
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Name">

        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="email" class="form-control form-control" placeholder="Email">

        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Phone">

        </div>
    </div>

    <div class="form-group" style="margin-top: 30px;">
        <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
    </div>
    <div id="btntable" class="text-center"><a href="#" class="btn btn-secondary">Message</a></div>

</div>
<!-- contact content -->