@{
    ViewBag.Title = "Add Product - The Look Lab";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>
    #checkout {
        padding: 0 40px 50px;
    }
    .row{
        margin:0 30px 0;
    }
</style>
<!-- add product content -->
<form class="container" id="checkout"
      action="/Products/AddProduct" method="post" enctype="multipart/form-data">
    <h1 class="text-center" style="margin-top:0px; border-bottom: 2px solid #f693ad;">
        Add Product Details
    </h1>
        <div class="row">
            <div class="col-md-5 py-2 py-md-0">
                 <label for="name">Product Name</label>
                 <input type="text" id="name" class="form-control form-control" name="name" placeholder="Product Name" required>
            </div>
             <div class="col-md-2 py-2 py-md-0">
                 <label for="price">Price</label>
                 <input type="text" id="price" class="form-control form-control" name="price" placeholder="Price" required>
             </div>
            <div class="col-md-5 py-2 py-md-0">
                <label for="image">Upload Image</label>
                <input type="file" id="image" class="form-control form-control" name="image" accept="image/*" required>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">     
            <div class="col-md-6 py-2 py-md-0">
                <label for="brand">Brand</label>
                <input type="text" id="brand" class="form-control form-control" name="brand" placeholder="Brand Name">
            </div>
           <div class="col-md-6 py-2 py-md-0">
               <label for="category">Category</label>
                <select id="category" name="category" class="form-control form-control">
                <option value="" disabled selected hidden>Category</option>
                <option value="Eyes">Eyes</option>
                <option value="Lips">Lips</option>
                <option value="Face">Face</option>
                </select>
@*                <input type="text" id="category" class="form-control form-control" name="category" placeholder="Category">
 *@           </div>
        </div>
        <div class="row" style="margin-top: 30px;">
             <div class="col-md-12 py-2 py-md-0"  >
                 <label for="comment">Description</label>
                  <textarea class="form-control" rows="2" id="comment" name="description" placeholder="Description"></textarea>
             </div>
        </div>
        <div class="row justify-content-center" style="margin-top:10px;">
            <div class="text-center">
                <input class="btn btn-secondary" type="submit" value="Add Product">
            </div>
        </div>
</form>
